.edit-profile-form {
    display: grid;
    gap: 1rem;
}

.edit-profile-form input {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    color: var(--text-color);
    width: 200px;
}


.edit-profile-form input[type="checkbox"] {
    width: auto;
}

.edit-profile-form:focus {
    outline: none;
    border-color: var(--background-highlight-color);
}

.edit-profile-form label {
    font-weight: bold;
    color: var(--title-color);
    display:inline-block;
    width: 60px;
}

.edit-profile-form button {
    margin-left: 60px;
    width: 230px;
}

.login-container,
.register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.auth-form input {
    padding: 10px;
    border: 0;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 5px;
}

.auth-form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}